// @font-face {
//     font-family: 'Big-Shoulders-Display';
//     src: url('../fonts/BigShouldersDisplay-Thin.woff2') format('woff2');
//     font-weight: 100;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Big-Shoulders-Display';
//     src: url('../fonts/BigShouldersDisplay-ExtraLight.woff2') format('woff2');
//     font-weight: 200;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Big-Shoulders-Display';
//     src: url('../fonts/BigShouldersDisplay-Light.woff2') format('woff2');
//     font-weight: 300;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Big-Shoulders-Display';
//     src: url('../fonts/BigShouldersDisplay-Regular.woff2') format('woff2');
//     font-weight: 400;
//     font-style: normal;
// }

/* Big Shoulders Display (B-s) */
@font-face {
	font-family: "B-s-Medium";
	src: url("/fonts/BigShouldersDisplay-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "B-s-SemiBold";
	src: url("/fonts/BigShouldersDisplay-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "B-s-Bold";
	src: url("/fonts/BigShouldersDisplay-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "B-s-ExtraBold";
	src: url("/fonts/BigShouldersDisplay-ExtraBold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "B-s-Black";
	src: url("/fonts/BigShouldersDisplay-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

/* Be Vietnam Pro (B-vn) */
@font-face {
	font-family: "B-vn-Light";
	src: url("/fonts/BeVietnamPro-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "B-vn-Medium";
	src: url("/fonts/BeVietnamPro-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "B-vn-Regular";
	src: url("/fonts/BeVietnamPro-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "B-vn-Black";
	src: url("/fonts/BeVietnamPro-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "B-vn-BlackItalic";
	src: url("/fonts/BeVietnamPro-BlackItalic.woff2") format("woff2");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "B-vn-Bold";
	src: url("/fonts/BeVietnamPro-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "B-vn-ExtraBold";
	src: url("/fonts/BeVietnamPro-ExtraBold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "B-vn-ExtraLight";
	src: url("/fonts/BeVietnamPro-ExtraLight.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

